---
Checks: "*,
         -abseil*,
         -altera*,
         -android*,
         -boost*,
         -darwin*,
         -fuchsia*,
         -google*,
         -linuxkernel*,
         -llvm*,
         -llvmlibc*,
         -zircon*,

         -cppcoreguidelines-avoid-magic-numbers,
         -modernize-use-trailing-return-type,
         -readability-identifier-length,
         -readability-magic-numbers"
...
