---
Language: Cpp
BasedOnStyle: Microsoft
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: InlineOnly
AlwaysBreakTemplateDeclarations: Yes
Cpp11BracedListStyle: false
PointerAlignment: Left
SpaceAfterTemplateKeyword: false
...
